body {
	background: url(bg1.png) #333;
	font-family: arial;
	color: #fff;
}
#wrapper {
	position: absolute;
	top: 0px; bottom: 0px; left: 0px; right: 0px;
}
#topbar {
	position: absolute;
	top: 0%; left: 0%; right: 0%;
	height: 54px;
	background: #889;
}
#namearea {
	position: absolute;
	top: 54px; bottom: 0%; left: 0%; right: 0%;
	text-align: center;
	overflow-x: hidden;
	overflow-y: auto;
}
.center {
	padding-left: auto;
	padding-right: auto;
}
#textbox {
	padding: 10px;
	font-size: 20px;
	text-align: center;
	width: 500px;
	border: 0px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}
input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 2px rgba(81, 100, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 100, 238, 1);
}